#error-educative-center-name {
    display: none;
    color: red;
}

#error-educative-center-address {
    display: none;
    color: red;
}

#error-educative-center-phone {
    display: none;
    color: red;
}

#error-educative-center-image {
    display: none;
    color: red;
}

