#error-name {
    display: none;
    color: red;
}

#error-last-name {
    display: none;
    color: red;
}

#error-email {
    display: none;
    color: red;
}

#error-age {
    display: none;
    color: red;
}

#error-height {
    display: none;
    color: red;
}

#error-sport {
    display: none;
    color: red;
}

#error-weight {
    display: none;
    color: red;
}
